@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

:root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  background-image: url(img/bq.jpeg);
  background-size: cover;
  background-position: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 150%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
z-index: 1;
background-image: url(img/logo.png);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-around;
}

input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 20px;
  width: 400px;
  height: 40px;
  border-radius: 7px;
}


button {
  background-color: #162a33;
  border-radius: 7px;
  border: 7px solid #fff;
  width: 400px;
  height: 50px;
  margin: 20px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: "Nanum Pen Script", cursive;
  cursor: pointer;
  transition: border-color 0.25s

}

button:hover {
  border-color: #244c53;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    background-image: url(img/bq.jpeg);
    background-size: cover;
    background-position: center;
    font-family: "Nanum Pen Script", cursive;
    font-size: 150%;
  }
  a:hover {
    color: #747bff;
  }
  button {
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: "Nanum Pen Script", cursive;
    color: #fff;
    background-color: #162a33;
    cursor: pointer;
    transition: border-color 0.25s;
  }
}
